.node{
    background-color: #1f2937;
    border: solid 1px;
}
.node-header{
    padding: 5px;
    text-align: left;
    color: white;
    font-size: 16px;
    
}
.node-content{
    color: white;
    font-size: 14px;
    padding: 10px;
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}


.intent-detail{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 500px;
    background-color: white;
}
.point{
    height: 0;
    width: 0;
    border-color: transparent transparent transparent white;
    border-style: solid;
    border-width: 7px;
    position: relative;
    top: -3px;
}
.point-in{
    left: 12px;
}
.point-out{
    left: -12px;
}
.intent-varName{
    display: block;
    color: white;
    bottom: 23px;
    text-align: right;
    width: min-content;
    margin: 6px 10px;
}