.spn{
    background-color: yellow;
    padding: 1px 2px;
}

.row-input-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;
    justify-content: flex-start;
    margin: 0px;
    padding:13px;
    border: solid 1px gray;
    border-top: 0px;
}
.inpt{
    border: none;
    outline: none;
}
.inpt:focus{
    outline: none;
}

.row-input{
    border: none;
}
.row-input-highlight:focus,
.row-input:focus{
    outline: none;
}
.row-input-highlight{
    background-color:yellow;
    border:solid 1px gray;
    border-radius:3px;
    margin:0px 2px 0px 0px;
}

